<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.yellow {
    background-color: yellow;
    height:470px;
    text-align: center;
}
.but {
    background-color: #008080;
    height: 40px;
    color: black;
    text: bold;
    width: 200px;
    margin: 5px;
    border: transparent;
}
</style>
<body>

<div class="yellow">
<br/><br/><br/>
    <button routerLink="electronics" class="but"> Electronics </button>
    <button routerLink="appliances" class="but"> Appliances </button>
    <button routerLink="men" class="but"> Men </button>
    <button routerLink="women" class="but"> Women </button>
    <button routerLink="kids" class="but"> Baby & Kids </button>
    <button routerLink="homeandfurniture" class="but"> Home & Furniture </button>
</div>

</body>
</html> 

<!-- 

    <ul class="navbar-form navbar-right">
          <button class="btn btn-primary" type="submit">Sign Up</button>
    </ul>
<form class="navbar-form navbar-right" action="/action_page.php">
      <div class="input-group">
        <span><input type="text" tabindex="2" class="form-control" placeholder="Email"></span>
        <span><input type="password" class="form-control" placeholder="Password"></span>
        <div class="input-group-btn">
          <button class="btn btn-success" type="submit">Sign In
          </button>
        </div>
      </div>
    </form>
    
-->