<html>
<head>

<style>
.yellow {
    background-color: yellow;
}
.leftPath {
    margin-left: 100px;
}
.car {
    background-color: white;
    width: 350px;
}
.but {
    margin-left: 30px;
    background-color: transparent;
    height: 30px;
    color: black;
    margin: 5px;
    border: transparent;
    border-radius: 5px;
}
.but:hover {
    background-color: #008080;
    
}
.but:active {
    background-color: #008080;
}
.but:focus {
    background-color: #008080;
    
}
.rightPath {
    margin-left: 500px;
    margin-top: -395px;
}
.productCard {
    background-color: white;
    margin-top: 30px;
    margin-right : 50px;
}
.priceBut {
    background-color: grey;
    color: white;
    border: transparent;
    border-radius: 15px;
}
</style>

</head>
<body>
<div class="yellow">
    <br/>
    <div class="leftPath">
        <h2> Men </h2>
        <hr style="width:340px;text-align:left;margin-left:0">
        <div class="card car">
        <br>
            <button class="but" (click)="showWatches()" > Watches >> </button> <br/><br/>
            <button class="but" (click)="showAccessories()"> Accessories >> </button> <br/><br/>
            <button class="but" (click)="showShoes()" > Shoes >> </button> <br/><br/>
            <button class="but" (click)="showGlasses()"> Glasses >> </button> <br/><br/>
        </div>
        <br/><br/><br/><br/>
    </div>
    <div class="rightPath">
        <div [ngSwitch]="products">
            <div *ngSwitchCase="'watch'">
                <h2> Watches </h2>
                <hr style="width:800px;text-align:left;margin-left:0">
                <label><b> Display Watches By </b></label>
                <select style="width:200px; margin-left: 150px; margin-top: -30px;" class="form-control" [(ngModel)]="orderDisplay" (ngModelChange)="onOrderSelected($event)" name="orderDisplay" id="orderDisplay" placeholder="Select an Option" required>
                          <option value="" disabled selected hidden>Select an Option</option>
                    <option *ngFor="let order of orders" [value]="order.id">
                        {{ order.name }}
                    </option> 
                </select>
                <label style="margin-left: 370px; margin-top: -30px; position: absolute;"><b> Or Search By </b> </label>
                <input style="width:200px; margin-left: 470px; margin-top: -33px; position: absolute; border: transparent; height: 30px;" type="text" [(ngModel)]="searchText" placeholder="   Watch Name">
                <div class="row card productCard">
                    <h3 style="margin-left:30px;"> New Launches </h3><br/>
                    <div [ngSwitch]="orderDisplay">
                        <div *ngSwitchCase=1>
                            <div class=" text-center col-md-4" *ngFor="let product of watches | filter:searchText | sortBy : 'asc' : 'priceNumber'">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 250px; width: 150px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=2>
                            <div class=" text-center col-md-4" *ngFor="let product of watches | sortBy : 'desc' : 'priceNumber' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 250px; width: 150px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=3>
                            <div class=" text-center col-md-4" *ngFor="let product of watches | sortBy : 'asc' : 'name' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 250px; width: 150px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=4>
                            <div class=" text-center col-md-4" *ngFor="let product of watches | sortBy : 'desc' : 'name' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 250px; width: 150px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchDefault>
                            <div class=" text-center col-md-4" *ngFor="let product of watches | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 250px; width: 150px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
            <div *ngSwitchCase="'accessory'"> 
                <h2> Accessories </h2>
                <hr style="width:800px;text-align:left;margin-left:0">
                <label><b> Display Accessories By </b></label>
                <select style="width:200px; margin-left: 170px; margin-top: -30px;" class="form-control" [(ngModel)]="orderDisplay" (ngModelChange)="onOrderSelected($event)" name="orderDisplay" id="orderDisplay" placeholder="Select an Option">
                    <option *ngFor="let order of orders" [value]="order.id">
                        {{ order.name }}
                    </option> 
                </select>
                <label style="margin-left: 370px; margin-top: -30px; position: absolute;"><b> Or Search By </b> </label>
                <input style="width:200px; margin-left: 470px; margin-top: -33px; position: absolute; border: transparent; height: 30px;" type="text" [(ngModel)]="searchText" placeholder="   Accessory Name">
                <div class="row card productCard">
                    <h3 style="margin-left:30px;"> New Launches </h3><br/>
                    <div [ngSwitch]="orderDisplay">
                        <div *ngSwitchCase=1>
                            <div class=" text-center col-md-4" *ngFor="let product of accessories | sortBy : 'asc' : 'priceNumber' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 200px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=2>
                            <div class=" text-center col-md-4" *ngFor="let product of accessories | sortBy : 'desc' : 'priceNumber' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 200px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=3>
                            <div class=" text-center col-md-4" *ngFor="let product of accessories | sortBy : 'asc' : 'name' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 200px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=4>
                            <div class=" text-center col-md-4" *ngFor="let product of accessories | sortBy : 'desc' : 'name' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 200px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchDefault>
                            <div class=" text-center col-md-4" *ngFor="let product of accessories | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 200px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div *ngSwitchCase="'shoe'">
                <h2> Shoes </h2>
                <hr style="width:800px;text-align:left;margin-left:0">
                <label><b> Display Shoes By </b></label>
                <select style="width:200px; margin-left: 150px; margin-top: -30px;" class="form-control" [(ngModel)]="orderDisplay" (ngModelChange)="onOrderSelected($event)" name="orderDisplay" id="orderDisplay" placeholder="Select an Option">
                    <option *ngFor="let order of orders" [value]="order.id">
                        {{ order.name }}
                    </option> 
                </select>
                <label style="margin-left: 370px; margin-top: -30px; position: absolute;"><b> Or Search By </b> </label>
                <input style="width:200px; margin-left: 470px; margin-top: -33px; position: absolute; border: transparent; height: 30px;" type="text" [(ngModel)]="searchText" placeholder="   Shoe Name">
                <div class="row card productCard">
                    <h3 style="margin-left:30px;"> New Launches </h3><br/>
                    <div [ngSwitch]="orderDisplay">
                        <div *ngSwitchCase=1>
                            <div class=" text-center col-md-4" *ngFor="let product of shoes | sortBy : 'asc' : 'priceNumber' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=2>
                            <div class=" text-center col-md-4" *ngFor="let product of shoes | sortBy : 'desc' : 'priceNumber' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=3>
                            <div class=" text-center col-md-4" *ngFor="let product of shoes | sortBy : 'asc' : 'name' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=4>
                            <div class=" text-center col-md-4" *ngFor="let product of shoes | sortBy : 'desc' : 'name' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchDefault>
                            <div class=" text-center col-md-4" *ngFor="let product of shoes | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>  
            <div *ngSwitchCase="'glass'"> 
                <h2> Glasses </h2>
                <hr style="width:800px;text-align:left;margin-left:0">
                <label><b> Display Glasses By </b></label>
                <select style="width:200px; margin-left: 150px; margin-top: -30px;" class="form-control" [(ngModel)]="orderDisplay" (ngModelChange)="onOrderSelected($event)" name="orderDisplay" id="orderDisplay" placeholder="Select an Option">
                    <option *ngFor="let order of orders" [value]="order.id">
                        {{ order.name }}
                    </option> 
                </select>
                <label style="margin-left: 370px; margin-top: -30px; position: absolute;"><b> Or Search By </b> </label>
                <input style="width:200px; margin-left: 470px; margin-top: -33px; position: absolute; border: transparent; height: 30px;" type="text" [(ngModel)]="searchText" placeholder="   Glass Name">
                <div class="row card productCard">
                    <h3 style="margin-left:30px;"> New Launches </h3><br/>
                    <div [ngSwitch]="orderDisplay">
                        <div *ngSwitchCase=1>
                            <div class=" text-center col-md-4" *ngFor="let product of glasses | sortBy : 'asc' : 'priceNumber' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=2>
                            <div class=" text-center col-md-4" *ngFor="let product of glasses | sortBy : 'desc' : 'priceNumber' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=3>
                            <div class=" text-center col-md-4" *ngFor="let product of glasses | sortBy : 'asc' : 'name' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchCase=4>
                            <div class=" text-center col-md-4" *ngFor="let product of glasses | sortBy : 'desc' : 'name' | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>  
                        </div>
                        <div *ngSwitchDefault>
                            <div class=" text-center col-md-4" *ngFor="let product of glasses | filter:searchText">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 150px; width: 220px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>      
        </div>
    </div>
</div>

</body>

</html>

<!-- 
                        <div class=" text-center col-md-4" *ngFor="let product of mobiles">
                            <br/>
                            <div class="card" style="background-color:white;">
                                <img class="card-img-top" style="height: 250px; width: 120px;" [src]="product.imagePath" alt="Card image cap">
                                <br/><br/>
                                <p class="card-title"><b> {{ product.name }} </b></p>
                                <p class="card-text" style="text-align: left;"> {{ product.description }} </p>
                                <br/>
                                <button class="priceBut"> {{ product.price }} </button>
                                <br/><br/><br/>
                            </div>
                        </div>
-->